version: "3.9"

services: 
  api: 
    build: ./
    container_name: coding-school-api

    ports: 
      - "3000:3000"

    environment: 
      NODE_ENV: development
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/codingSchool

    volumes:
      - .:/app
      - /app/node_modules

    command: npm run dev

    depends_on:
      - mongo

    restart: unless-stopped


  mongo: 
    image: mongo:6
    container_name: coding-school-mongo

    ports: 
      - "27017:27017"

    volumes: 
      - mongo_data:/data/db

    restart: unless-stopped


volumes:
  mongo_data:
